<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>649477267733-2havfdrp9dc581p29ji06resajt7oaoc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.649477267733-2havfdrp9dc581p29ji06resajt7oaoc</string>
	<key>API_KEY</key>
	<string>AIzaSyCw2x-8C6SS9ze4b1cBRBjijyaeMhoXui4</string>
	<key>GCM_SENDER_ID</key>
	<string>649477267733</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>BIG-BOB.Authentication-Sample</string>
	<key>PROJECT_ID</key>
	<string>login-system-7f657</string>
	<key>STORAGE_BUCKET</key>
	<string>login-system-7f657.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:649477267733:ios:22f222a6f55f60c309091c</string>
	<key>DATABASE_URL</key>
	<string>https://login-system-7f657.firebaseio.com</string>
</dict>
</plist>